@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #ffffff;
    font-family: normal 12px/1.8em Arial, Helvetica, sans-serif;
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 8px 0 40px 24px;
    float: left;
    color: #8c00ff;
    font-family: normal 36px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
}

h2 {
    font-weight: bold;
    margin: 0;
    padding: 8px 0 40px 24px;
    float: left;
    color: #ffffff;
    font-family: normal 36px/1.2em Arial, Helvetica, sans-serif;
}

.nav {
    width: 100%;
    background-color: rgba(0, 2, 10, 0.205);
    position: fixed;
}

.nav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: rgba(255, 174, 0, 0.226);
}

.active {
    background-color: #9900ff50;
}

img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 2px;
    width: 200px;
}

img:hover {
    width: 750px;
    height: auto;
    display: block;
}

.content {
    float: left;
}

.article_content {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(140, 0, 255, 0.13);
}

table,
th,
td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    background-color: rgba(140, 0, 255, 0.13);
}

h3 {
    color: rgb(0, 0, 0);
}

.submain_sources {
    background-color: rgba(255, 255, 255, 0.863);
    color: rgb(0, 0, 0);
    width: 100%;
    float: left;
}

.sidebar {
    width: 310px;
    position: fixed;
    right: 0;
    background-color: rgba(140, 0, 255, 0.13);
    padding-top: 20px;
    padding-right: 5px;
}

.sidebar a {
    padding: 10px 10px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
}

.sidebar a:hover {
    color: #9700dd;
}

.submain_list {
    background-color: rgba(255, 255, 255, 0.61);
    color: rgb(0, 0, 0);
    width: 100%;
    float: left;
    font-size: 36px;
    padding-left: 15px;
}

.contact {
    max-width: 500px;
    margin: auto;
}

.about_info {
    background-color: white;
    color: black;
}

textarea {
    padding: 2px;
    margin: 0px;
    height: 577px;
    width: 647px;
}