@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #ffffff;
    font-family: normal 12px/1.8em Arial, Helvetica, sans-serif;
    background: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 8px 0 40px 24px;
    float: left;
    color: #ff9100;
    font-family: normal 36px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
}

h2 {
    font-weight: bold;
    margin: 0;
    padding: 8px 0 40px 24px;
    float: left;
    color: #ffffff;
    font-family: normal 36px/1.2em Arial, Helvetica, sans-serif;
}

.msg {
    float: left;
    padding: 20px;
}