.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 20px 72px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #ffb300;
    color: white;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(243, 243, 243), rgb(110, 110, 110));
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
}

.layout {
    margin: 0 auto;
    max-width: 1410px;
    width: 95%;
}

.box_container {
    clear: both;
    display: flex;
    justify-content: space-between;
    margin: 130px auto 0;
    max-width: 1050px;
    z-index: 2;
}

.box_info {
    margin: 0 auto 50px;
    position: relative;
    top: -35px;
}

.button {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.box {
    border-radius: 10px;
    box-shadow: 0 4px 0 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 31.5%;
    text-decoration: none;
}

.box_title {
    color: #fff;
    font: 500 32px/1 Dosis;
    margin-bottom: 15px;
}

.box_txt {
    color: #fff;
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    /* Bug IE11 */
}

.box_photo {
    background: #fff;
    border: 6px solid currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    margin-bottom: -75px;
    position: relative;
    top: -105px;
}

.box1 {
    background: #ffb921;
}

.box1_photo {
    border-color: #ffb921;
}

.box1_img {
    width: 70px;
}

.box1 .button {
    border: 3px solid #fff;
    color: #ffb921;
}

.box1 .button:hover {
    background: #ffb921;
    color: #fff;
}

.box2 {
    background: #ff3f3f;
}

.box2_photo {
    border-color: #ff3f3f;
}

.box2_img {
    width: 50px;
}

.box2_title {
    color: #fff;
    font: 400 28px/1 Dosis;
}

.box2 .button {
    border: 3px solid #fff;
    color: #ff3f3f;
}

.box2 .button:hover {
    background: #ff3f3f;
    color: #fff;
}

.box3 {
    background: #2f6beb;
}

.box3_photo {
    border-color: #2f6beb;
}

.box3_img {
    width: 60px;
}

.box3 .button {
    border: 3px solid #fff;
    color: #2f6beb;
}

.box3 .button:hover {
    background: #2f6beb;
    color: #fff;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f6beb;
    color: white;
    text-align: center;
    padding-top: 1px
}

.banner-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact {
    background: #fff;
    padding: 40px;
}